.app, html, body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  text-align: center;
  scroll-behavior: smooth;
  font-family: 'Open Sans Condensed', sans-serif;
}

h1{
  font-size: 3em;
  font-family: 'Amatic SC', cursive;
  margin-left:1.2em; 
  text-shadow: 1px 1px 2px #fad7a3;
}
.header {
  top:0;
  display: flex;
  align-items: center;
  color:rgba(35, 84, 46, 0.783);
  width: 100%;
  height:5em;
  padding:.7em;
}
a{
  margin:3%;
  color:rgba(35, 84, 46, 0.783);
  text-shadow: 1px 1px 2px #fad7a3;
  text-decoration: none;
}
p{
  font-size: 1.5em;
  padding:.2em;
}

.nav-flexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  flex-direction: row;
  justify-content: center;

  width: 40%;
  /* margin-top: 1%; */
  margin-left: auto;
  /* padding: 2em; */
  font-weight: 700;
  font-size: 1.3em;
}

/* Banner css go here */

.banner{
  width: 100%;
  position: relative;
  margin-bottom: 5rem;
  background-image: url(./banners/dogbeach.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 35rem;
  background-size: cover;
}

.banner-info{
color: rgb(255, 255, 255);
text-shadow: 1px 1px 2px #0f7719;
padding:1.5em;
font-size: 4em;
margin:auto;
font-family: 'Amatic SC', cursive;
font-weight: 600;
}


.pow-banner{
  display: inline-block;
  width: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 40rem;
  background-size: cover;
  background-image: url(banners/field.jpg);
}

#pow-ptag {
  font-size: 1.5em;
 color:white;
  text-align: left;
  font-weight: 600;
  font-family: 'Open Sans Condensed', sans-serif;
}

#pow-div{
  /* margin-top:1em ; */
  margin-left: auto;
  margin-right: auto;
  width:45em;
  height:10em;
  padding:1.5rem;
  background-color: rgba(22, 38, 6, 0.4) ;
  font-family: 'Open Sans Condensed', sans-serif;

-webkit-box-shadow: 10px 10px 5px -6px rgba(245, 238, 28, 0.61);
-moz-box-shadow: 10px 10px 5px -6px rgba(231, 224, 26, 0.61);
box-shadow: 10px 10px 5px -6px rgba(240, 240, 14, 0.80);

  /* background-color: rgba(35, 58, 12,0.64) ;
  -webkit-box-shadow: -1px 12px 20px -6px rgba(88,80,79,0.79);
  -moz-box-shadow: -1px 12px 20px -6px rgba(88,80,79,0.79);
  box-shadow: 10px 10px 5px -6px rgba(231,166,26,0.61); */
}

.info-banner{
display: inline-block;
  /* position: relative; */
  width: 100%;
  background-image: url(banners/dogmix.jpg);
  /* background-attachment: fixed; */
  background-position: center;
  height: 50rem;
  background-size: cover;
}
#info-div {
  padding:1.1rem;
  font-size: 1.2em;
  margin-left:3.5em;
  margin-top:15em ;
  width:20em;
  height:15rem;
  background-color: rgba(22, 38, 6, 0.4) ;
  font-family: 'Open Sans Condensed', sans-serif;

-webkit-box-shadow: 10px 10px 5px -6px rgba(245, 238, 28, 0.61);
-moz-box-shadow: 10px 10px 5px -6px rgba(231, 224, 26, 0.61);
box-shadow: 10px 10px 5px -6px rgba(240, 240, 14, 0.80);
} 
#info-ptag{
  font-size: 1.2em;
  color:white;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
}





/*  Adopt Page css here */
.dog-flexbox{
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  align-items: center; 
  justify-content: space-around;
  margin:0;
  padding:0;
  margin:.5em .5em .5em .5em;
}

.dog-flexbox-item-1{
  margin: .5em .5em .5em .5em;
  padding: 1em 1em 1em 1em;

  min-height: 5em;
}

#dog-name{
  padding: .7em;
 
  font-size: 1.4em;
}
#dog-stats{
  /* padding:.5em; */
  font-size: 1.2em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
}

img{
  width:20em;
  height:20em;
  border-radius: .3em;
  object-fit: cover;
}

button{
  margin:.7em;
  background-color: #1F4D28;
  color:white;
  border-radius: 1em;
  border:none;
  width:8rem;
  padding:.6em;
  text-decoration: none;
}




/*  Pooch of hte week css here  */

#robert{
  padding: .7rem;
  width:20em;
  height:22em;
  /* border-radius: 1.5em; */
  border-radius: 0.2em;
  object-fit: cover;
}
.pow-p-tag{
  width: 15em;
}
.pow{
  /* display: flex;
  padding: 2%;
  margin-top:-10%;
  height: auto;*/
  width: 60%;
  margin:auto; 
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  align-items: center; 
  justify-content: space-around;
}

footer{
  height:5em;
}









/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .header {
   display: flex;
      width: 100%;
      height: 5.5em;
      padding: .7em;
  }

  .nav {
  width: 80%;
    font-size: 1em;
    font-weight: 700;
}

.banner-info{
  font-size: 2em;
  font-weight: 600;
  padding:0;
}

h1 {
  font-size: 1.8em;
  }
  .banner {
    margin-bottom: 5rem;
    height: 30rem;
    background-size: cover;
}



  }