 html, body{
  margin: 0;
  padding: 0;
  /* min-height: 100vh; */
  width: 100vw;
  overflow-x: hidden;
  text-align: center;
  scroll-behavior: smooth;
  font-family: 'Open Sans Condensed', sans-serif;
  background: #ffffff;
}

h1{
  color:rgb(13, 51, 112);
  font-size: 3em;
  z-index: 1;
  font-family: 'Amatic SC', cursive;
  margin-left:1.2em; 

}
.header {
  top:0;
  display: flex;
  align-items: center;
 position: relative;
  width: 100%;
  height:5em;
  padding:.7em;
  z-index: 1;
  z-index: 1;
}
.nav-links {
  margin:3%;
  color:rgb(13, 51, 112);  z-index: 1;
  
}
a{
  z-index: 1;
  text-decoration: none;
  outline: none;
}
p{
  font-size: 1.5em;
  padding:.2em;
}

.nav-flexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  flex-direction: row;
  justify-content: center;

  width: 30%;
  /* margin-top: 1%; */
  margin-left: auto;
  /* padding: 2em; */
  font-weight: 700;
  font-size: 1.7em;
}

/* Banner css go here */

.banner{
  width: 100%;
  position: relative;
  margin-bottom: 5rem;
  background-image: url(./banners/dogbeach.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 35rem;
  background-size: cover;
}

.banner-info{
  top:0;
  color:rgb(13, 51, 112);
text-shadow: 1px 1px 2px #ffffff;
padding:1.2em;
font-size: 4em;
margin:auto;
font-family: 'Amatic SC', cursive;
font-weight: 600;

}


.pow-banner{
  display: inline-block;
  width: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 40rem;
  background-size: cover;
  background-image: url(banners/field.jpg);
}
#pow-banner-h1{
  color:white;
  font-size: 4.5em;
  text-shadow: 1px 1px 2px #000000;
}

#pow-ptag {
  font-size: 1.5em;
 color:white;
  text-align: left;
  font-weight: 600;
  font-family: 'Open Sans Condensed', sans-serif;
}

#pow-div{
  /* margin-top:1em ; */
  margin-left: auto;
  margin-right: auto;
  width:45em;
  height:10em;
  padding:1.5rem;
  background-color: rgba(22, 38, 6, 0.844) ;
  font-family: 'Open Sans Condensed', sans-serif;

-webkit-box-shadow: 10px 10px 5px -6px rgba(245, 238, 28, 0.61);
-moz-box-shadow: 10px 10px 5px -6px rgba(231, 224, 26, 0.61);
box-shadow: 10px 10px 5px -6px rgba(240, 240, 14, 0.80);

  /* background-color: rgba(35, 58, 12,0.64) ;
  -webkit-box-shadow: -1px 12px 20px -6px rgba(88,80,79,0.79);
  -moz-box-shadow: -1px 12px 20px -6px rgba(88,80,79,0.79);
  box-shadow: 10px 10px 5px -6px rgba(231,166,26,0.61); */
}

.info-banner{
  top: 0;
  /* display: inline-block; */
  position: absolute;
  width: 100%;
  background-image: url(banners/dogmix.jpg);
  /* background-attachment: fixed; */
  background-position: center;
  height: 50rem;
  /* z-index: -1; */
  background-size: cover;
}
#info-div {
  padding:1.1rem;
  font-size: 1.2em;
  margin-left:3.5em;
  margin-top:15em ;
  width:20em;
  height:15rem;
  background-color: rgba(22, 38, 6, 0.4) ;
  font-family: 'Open Sans Condensed', sans-serif;

-webkit-box-shadow: 10px 10px 5px -6px rgba(245, 238, 28, 0.61);
-moz-box-shadow: 10px 10px 5px -6px rgba(231, 224, 26, 0.61);
box-shadow: 10px 10px 5px -6px rgba(240, 240, 14, 0.80);
} 
#info-ptag{
  font-size: 1.2em;
  color:white;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
}





/*  Adopt Page css here */
.dog-flexbox{
  margin:0;
  padding:0;
  color:rgb(13, 51, 112);
 
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  align-items: center; 
  justify-content: space-evenly;
  margin:.5em .5em .5em .5em;
}

.dog-flexbox-item-1{
  margin: .5em .5em .5em .5em;
  padding: 1em 1em 1em 1em;
  min-height: 5em;
  background: white;
  border: solid .3em rgb(116, 202, 218) ;
  border-radius: .8em;
}

#dog-name h3{
  /* padding: .7em; */
  font-size: 2em;
  font-weight: 700;
}
#dog-stats{
  /* padding:.5em; */
  font-size: 1.2em;
  font-weight: 600;
  font-family: 'Open Sans Condensed', sans-serif;
  
}

img{
  width:20em;
  height:20em;
  border-radius: .3em;
  object-fit: cover;
}

button{
  margin:.7em;
  background-color:white;
  color:rgb(13, 51, 112);;
  border-radius: .7em;
  border:none;
  width:10rem;
  padding:.8em;
  text-decoration: none;
}




/*  Pooch of hte week css here  */

#robert{
  margin:.8em ;

  width:20em;
  height:22em;
  border: .5em solid rgb(55, 95, 15);
  border-radius: 0.2em;
  object-fit: cover;
  

}
.pow-p-tag{
  width: 15em;
}
.pow{
  width: 60%;
  margin:auto; 
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  text-align: left;
  align-items: center; 
  justify-content: space-around;
}

footer{
  height:5em;
}









/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .header {
   display: flex;
      width: 100%;
      height: 5.5em;
      padding: .7em;
  }

  .nav {
  width: 80%;
    font-size: 1em;
    font-weight: 700;
}

.banner-info{
  font-size: 2em;
  font-weight: 600;
  padding:0;
}

h1 {
  font-size: 1.8em;
  }
  .banner {
    margin-bottom: 5rem;
    height: 30rem;
    background-size: cover;
}



  }