.App {
  margin: 0 auto ;
  text-align: center;
  height: 200vh;
}
h1{
  margin:auto;
  
}

.header {
  color:white;
  background-color:#3D6118;
  width: 100%;
  height:5em;
  margin:0 auto;
}
a{
  margin:2%;

}


.dog-grid{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  margin:auto;
  width:100%;
}

.adopt-adog{
  width:25em;
  height:35em;
  border:solid black 1px;
  text-align: center;
  margin:2em;
}

img{
padding: 10%;
margin:0 auto;
width:12em;
height:14em;
}




/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
